version: '3.7'
services:
 dynamodb-local:
   image: amazon/dynamodb-local:latest
   container_name: dynamodb-local
   ports:
    - "8000:8000"
    
 app:
   depends_on:
    - dynamodb-local
   image: spring-festival-service
   container_name: my-service
   ports:
    - "5001:80"
   links:
    - "dynamodb-local"
   environment:
     - AWS_ACCESS_KEY_ID='DUMMYIDEXAMPLE'
     - AWS_SECRET_ACCESS_KEY='DUMMYEXAMPLEKEY'
     - REGION='eu-west-1'